html {
    scroll-behavior: smooth;
}
header{
    padding:20px 20px 0px 20px;
    background-color: rgb(183, 179, 179);
    position: sticky;
    top:0;
    z-index:1000;
    box-shadow: 0 2px 5px rgb(141, 141, 141);
}
header div{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
nav{
    display:flex;
    justify-content:center;
    gap:15px;
}
nav a{
    text-decoration:none;
    color:black;
    font-size:12px;
    padding:5px 8px;
    border-bottom:2px solid transparent;
    transition:0.3s;
}
nav a:hover{
  background-color:#eee;
  border-bottom:2px solid gray;
}
main{
    background-color: rgb(212, 203, 203);
    border-radius: 4px;
    width:90%;
    max-width: 980px;
    margin: 20px auto;
    padding: 30px;
}
.sec{
    margin-bottom: 40px;
    scroll-margin-top: 150px;
}
.sec:last-child {
    margin-bottom: 0;
}
section:target .title, 
section:target .content {
    animation: highlight 0.5s ease-out 0.4s;
}
@keyframes highlight {
    0% {background-color: rgba(240, 240, 163, 0.431);}
    100% {background-color: rgb(214, 183, 160);}

}
.title{
    display: inline-block;
    padding:8px 16px;
    background-color: seashell;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: underline 2px solid black;
    text-underline-offset:6px;
}
.content{
    background-color: seashell;
    padding:12px 16px;
    border-radius: 6px;
    margin-top:15px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.content p{
    margin:0;
    line-height: 1.6;
}

footer{
    font-size: 13px;
    padding:10px;
    background-color: rgb(183, 179, 179);
    display: flex;
    justify-content: center;
    gap:100px;
}
.footer-section{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.footer-title{
    text-align: left;
    font-weight: bold;
    color: rgb(19, 19, 140);
}
.footer-title + div{
    margin-left: 20px;
}
footer a{
    margin-right: 10px;
}