* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}
.container{
    background-color: whitesmoke;
    width:350px;
    padding:20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom:20px;
}
.input-area{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}
#input{
    flex:1;
    padding:10px;
    border-radius: 5px;
    border:2px solid rgb(93, 93, 119);
    outline:none;
}
#input:focus{
    border-color: #667eea;
}
#addBtn{
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}
#addBtn:hover {
    background: #a6aacd;
}
#todoList{
    list-style: none;
    margin-top: 20px;
}
#todoList li{
    list-style: none;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
#todoList li button{
    background: #e53e3e;
    color: white;
    border: none;
    padding:5px 10px;
    border-radius:6px;
    cursor:pointer;
}
#todo-list button:hover {
    background: #c53030;
}
/* 當 li 有 .editing 這個類別 */
li.editing .view-mode {
    display:none; /* 隱藏原本的文字與修改鈕 */
}

li.editing .edit-mode {
    display:flex; /* 顯示輸入框與儲存鈕 */
    
}
.view-mode {
    display:flex;
    justify-content:space-between; 
    align-items:center;
    width: 100%; 
}
.edit-mode {
    display:none;
    gap:10px;
    width:100%;
}
.edit-mode input{
    flex-grow: 1;
    padding:5px;
    border-radius: 5px;
}